

@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<h3 class="card-title mb-3 mt-2 font-weight-bolder">
    <span class="ml-0">
        <a asp-action="Index" asp-controller="Filmes">
            <i style="color: #000000;font-size:x-large" class="fa fa-chevron-left mr-2"></i>
        </a>
    </span>
    <span class="font-weight-normal">Your ticket was <span class="font-weight-bold">succefully </span>bought</span><span class="mr-5">
    </span>
</h3>

<hr size="7" width="100%" class="mt-3" style="color:black;background-color:black">

<h2 class="text-center mt-4">Please check your billing email to see your Digital Ticket</h2>

