@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<hr size="7" width="100%" style="color:black;background-color:black">
<h2 class="text-center mt-4">
    Please check your email to reset your password.
</h2>

