@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
</head>

<h1>Verify your account</h1>
<hr size="7" width="100%" style="color:black;background-color:black">

<h2 class="text-center mt-4">Please check your email to verify your account!</h2>
