@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<hr size="7" width="100%" style="color:black;background-color:black">
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
