@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
</head>

<h3 class="card-title mb-3 mt-2 font-weight-bolder">
    <span class="ml-0">
        <a asp-controller="Filmes" asp-action="Index">
            <i style="color: #000000;font-size:x-large" class="fa fa-chevron-left mr-2"></i>
        </a>
    </span>
    <span class="font-weight-normal">Manage your <span class="font-weight-bold">LeiFlix</span> account settings</span><span class="mr-5">
    </span>
</h3>

<hr size="7" width="100%" class="mt-3 mb-4" style="color:black;background-color:black">

<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
